@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(img/bg4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

h1 {
  margin-top: 2rem;
  color: #441752;
  font-size: 2em;
  margin-bottom: 20px;
}
p {
  color: #000;
  margin: 0;
}
canvas {
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
  backdrop-filter: blur(10px); /* Glassy effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  border-radius: 12px; /* Rounded corners */
  width: 100%; /* Makes canvas scale responsively */
  max-width: 400px; /* Max width for larger screens */
  height: auto;
}

.controls {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; /* Allows the container to adapt to screen size */
  max-width: 400px; /* Keeps it from expanding too wide */
  margin-bottom: 10px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  margin-left: 10px;
  width: 100%;
  max-width: 250px; /* Limits slider size on large screens */
}

label {
  font-size: 18px;
  color: #213555;
  margin-bottom: 10px;
  width: 100%;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }

  canvas {
    max-width: 90%; /* Ensures canvas is smaller on mobile */
  }

  label {
    font-size: 16px;
  }

  .controls {
    width: 80%; /* Ensures controls take up a smaller area */
  }

  .slider-container {
    flex-direction: column;
    align-items: flex-start; /* Stack the label and slider */
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 1.2em;
  }

  label {
    font-size: 14px;
  }
}
